protobuf==3.19.0
jax
jaxlib
objax
git+https://github.com/defaultobject/batchjax
chex
multipledispatch
bibtexparser
black
flake8
flake8-docstrings
typer
loguru
sacred
scikit-learn
tabulate
jupyter
black
pytest
tqdm
tensorflow_probability
pandas
matplotlib
