protobuf==3.19.0
git+https://github.com/google/objax.git
git+https://github.com/defaultobject/batchjax
chex
multipledispatch
bibtexparser
black
flake8
flake8-docstrings
typer
loguru
sacred
scikit-learn
tabulate
jupyter
black
pytest
tqdm
tensorflow
tensorflow_probability
pandas
matplotlib
bng_latlon
