jax==0.2.17
jaxlib==0.1.68
objax==1.4.0
git+git://github.com/defaultobject/batchjax/
chex==0.0.8
multipledispatch==0.6.0
bibtexparser==1.2.0
black
flake8
flake8-docstrings
typer==0.3.2
loguru==0.5.3
sacred==0.8.1
scikit-learn
tabulate==0.8.6
jupyter
black
pytest
tqdm
